In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\kshifera\Desktop\CF_Course\Immersion\Achievement_6\WorldEnergyConsumptionAnalysis'

### Import dataframe

In [23]:
# import dataframe
df = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'World Energy Consumption.csv'), index_col = False)

### Basic data cleaning

In [24]:
# check dataframe size
df.shape

(22012, 130)

In [25]:
# check for duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [country, year, iso_code, population, gdp, biofuel_cons_change_pct, biofuel_cons_change_twh, biofuel_cons_per_capita, biofuel_consumption, biofuel_elec_per_capita, biofuel_electricity, biofuel_share_elec, biofuel_share_energy, carbon_intensity_elec, coal_cons_change_pct, coal_cons_change_twh, coal_cons_per_capita, coal_consumption, coal_elec_per_capita, coal_electricity, coal_prod_change_pct, coal_prod_change_twh, coal_prod_per_capita, coal_production, coal_share_elec, coal_share_energy, electricity_demand, electricity_generation, electricity_share_energy, energy_cons_change_pct, energy_cons_change_twh, energy_per_capita, energy_per_gdp, fossil_cons_change_pct, fossil_cons_change_twh, fossil_elec_per_capita, fossil_electricity, fossil_energy_per_capita, fossil_fuel_consumption, fossil_share_elec, fossil_share_energy, gas_cons_change_pct, gas_cons_change_twh, gas_consumption, gas_elec_per_capita, gas_electricity, gas_energy_per_capita, gas_prod_change_pct, gas_prod_change_twh, gas_prod_per_capita, gas_production, gas_share_elec, gas_share_energy, greenhouse_gas_emissions, hydro_cons_change_pct, hydro_cons_change_twh, hydro_consumption, hydro_elec_per_capita, hydro_electricity, hydro_energy_per_capita, hydro_share_elec, hydro_share_energy, low_carbon_cons_change_pct, low_carbon_cons_change_twh, low_carbon_consumption, low_carbon_elec_per_capita, low_carbon_electricity, low_carbon_energy_per_capita, low_carbon_share_elec, low_carbon_share_energy, net_elec_imports, net_elec_imports_share_demand, nuclear_cons_change_pct, nuclear_cons_change_twh, nuclear_consumption, nuclear_elec_per_capita, nuclear_electricity, nuclear_energy_per_capita, nuclear_share_elec, nuclear_share_energy, oil_cons_change_pct, oil_cons_change_twh, oil_consumption, oil_elec_per_capita, oil_electricity, oil_energy_per_capita, oil_prod_change_pct, oil_prod_change_twh, oil_prod_per_capita, oil_production, oil_share_elec, oil_share_energy, other_renewable_consumption, other_renewable_electricity, other_renewable_exc_biofuel_electricity, other_renewables_cons_change_pct, other_renewables_cons_change_twh, other_renewables_elec_per_capita, other_renewables_elec_per_capita_exc_biofuel, other_renewables_energy_per_capita, ...]
Index: []

[0 rows x 130 columns]

In [26]:
df.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy,Electrification rate
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN

In [27]:
# drop rows with older data and latest data (before year 2000 and later than 2018)
df = df.drop(df[(df.year < 2000) | (df.year > 2018)].index)

In [28]:
#check
df.shape

(5658, 130)

In [29]:
# drop rows with empty values in gdp column 
df.dropna(subset = ['gdp'], inplace = True)

In [30]:
df.shape

(3154, 130)

In [31]:
# drop region names from the country column
df = df[df['country'].isin(['ASEAN (Ember)' , 'Africa' , 'Africa (EI)', 'Africa (EIA)', 'Africa (Ember)', 'Africa (Shift)', 'American Samoa', 'Antarctica', 'Asia','Asia & Oceania (EIA)','Asia (Ember)', 'Asia Pacific (EI)', 'Asia and Oceania (Shift)' , 'Australia and New Zealand (EIA)', 'CIS (EI)', 'Central & South America (EIA)' , 'Central America (EI)', 'Central and South America (Shift)','Czechoslovakia', 'EU28 (Shift)','East Germany (EIA)', 'East Germany', 'Eastern Africa (EI)', 'Eurasia (EIA)', 'Eurasia (Shift)', 'Europe','Europe (EI)','Europe (Ember)', 'Europe (Shift)', 'European Union (27)', 'European Union (EIA)', 'G20 (Ember)', 'G7 (Ember)','Hawaiian Trade Zone (EIA)','High-income countries', 'IEO - Africa (EIA)', 'IEO - Middle East (EIA)','IEO OECD - Europe (EIA)','Latin America and Caribbean (Ember)', 'Low-income countries','Lower-middle-income countries','Mexico, Chile, and other OECD Americas (EIA)' , 'Middle Africa (EI)' , 'Middle East (EI)' , 'Middle East (EIA)' ,'Middle East (Ember)' , 'Middle East (Shift)', 'Non-OECD (EI)','Non-OECD (EIA)','Non-OPEC (EI)', 'Non-OPEC (EIA)','North America','North America (EI)', 'North America (Ember)','North America (Shift)','OECD (EI)', 'OECD (EIA)','OECD (Ember)','OECD (Shift)','OECD - Asia And Oceania (EIA)','OECD - Europe (EIA)','OECD - North America (EIA)', 'OPEC (EI)','OPEC (Shift)', 'OPEC - Africa (EIA)','OPEC - South America (EIA)', 'Oceania','Oceania (Ember)', 'Other Non-OECD - America (EIA)', 'Other Non-OECD - Asia (EIA)', 'Other Non-OECD - Europe and Eurasia (EIA)','Persian Gulf (EIA)', 'Persian Gulf (Shift)', 'South Korea and other OECD Asia (EIA)','South and Central America (EI)', 'U.S. Pacific Islands (EIA)', 'U.S. Territories (EIA)', 'USSR', 'United States Pacific Islands (Shift)','United States Territories (Shift)', 'United States Virgin Islands','Upper-middle-income countries','Wake Island (EIA)', 'Wake Island (Shift)','West Germany (EIA)', 'Western Africa (EI)','Yugoslavia', 'World']) == False]

In [32]:
df.shape

(3130, 130)

### Additional columns

In [33]:
# Column to check if there are fossil-fueled power plants
df.loc[df['fossil_electricity'] > 0, 'fossils?'] = 'yes'

In [34]:
# Column to check if there are no fossil-fueled power plants
df.loc[df['fossil_electricity'] == 0, 'fossils?'] = 'no'

In [35]:
df.shape

(3130, 131)

In [36]:
# Column to check if there are renewables-based power plants
df.loc[df['renewables_electricity'] > 0, 'renewables?'] = 'yes'

In [37]:
# Column to check if there are norenewables-based power plants
df.loc[df['renewables_electricity'] == 0, 'renewables?'] = 'no'

In [38]:
df.shape

(3130, 132)

In [39]:
# Column to check if there are nuclear-powered power plants
df.loc[df['nuclear_electricity'] > 0, 'nuclear?'] = 'yes'

In [40]:
# Column to check if there are norenewables-based power plants
df.loc[df['nuclear_electricity'] == 0, 'nuclear?'] = 'no'

In [41]:
df.shape

(3130, 133)

In [51]:
# Column to calculate gdp per capita
df['gdp_per_capita'] = df['gdp'] / df['population']

In [42]:
# Empty list to store the results of for loop
depot = []
for x in df['country']:
    if x in ['Algeria','Angola','Benin','Botswana', 'Burkina Faso', 'Burundi' , 'Cameroon', 'Cape Verde', 'Chad', 'Comoros', 'Congo', 'Cote d''Ivoire', 'Democratic Republic of Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'South Africa', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']:
        depot.append("Africa")
    elif x in ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Cambodia', 'China', 'Hong Kong', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen']:
        depot.append("Asia")
    elif x in ['Australia', 'New Zealand']:
        depot.append("Australia")
    elif x in ['Albania', 'Austria', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom']:
        depot.append("Europe")
    elif x in ['Barbados', 'Canada', 'Dominica', 'Dominican Republic', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Nicaragua', 'Panama', 'Puerto Rico', 'Saint Lucia', 'United States']:
        depot.append("North America")
    else:
        depot.append("South America")

In [43]:
# Continent created
df['continent'] = depot

In [44]:
df.shape

(3130, 134)

In [47]:
# Rename column
df.rename(columns = {'Electrification rate': 'electrification_rate'}, inplace = True)

In [48]:
df.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy,electrification_rate,fossils?,renewables?,nuclear?,continent
123,Afghanistan,2000,AFG,19542986.0,1.128379e+10,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,NaN,0.0,NaN,4.45,yes,yes,no,Asia
124,Afghanistan,2001,AFG,19688634.0,1.102127e+10,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,NaN,0.0,NaN,9.29,yes,yes,no,Asia
125,Afghanistan,2002,AFG,21000258.0,1.880487e+10,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,NaN,0.0,NaN,14.13,yes,yes,no,Asia
126,Afghanistan,2003,AFG,22645136.0,2.107434e+10,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,NaN,0.0,NaN,18.97,yes,yes,no,Asia
127,Afghanistan,2004,AFG,23553554.0,2.233257e+10,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,NaN,0.0,NaN,23.81,yes,yes,no,Asia

### Basic statistics

In [49]:
# gdp column
df.groupby('continent').agg({'gdp': ['min', 'mean','max']}).head(15)

                        gdp
                        min          mean           max
continent
Africa         3.128536e+08  8.274153e+10  1.221830e+12
Asia           7.225651e+09  8.634617e+11  1.815160e+13
Australia      1.019810e+11  5.495012e+11  1.238560e+12
Europe         5.587146e+09  4.578657e+11  3.885960e+12
North America  4.044838e+08  1.233356e+12  1.814060e+13
South America  2.929689e+09  4.299466e+11  3.270710e+12

In [52]:
# Export as csv
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_601.csv'))